<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Angular Gridster</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/angular-gridster.min.css" />
    <link rel="stylesheet" href="common/style.css" />
	<link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./vendors/ui-grid.min.css"/>
    <link rel="stylesheet" href="http://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.css"/>

    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./vendors/ui-grid.min.js"></script>

    <script src="https://rawgit.com/nnnick/Chart.js/master/Chart.min.js"></script>
    <script src="https://rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.js"></script>

<!--    &lt;!&ndash; THIS IS ALL THE ANGULAR 2.0 DEPENDENCIES &ndash;&gt;
     IE required polyfills, in this exact order
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
    <script src="https://npmcdn.com/angular2@2.0.0-beta.9/es6/dev/src/testing/shims_for_IE.js"></script>

    <script src="https://code.angularjs.org/2.0.0-beta.9/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://npmcdn.com/typescript@1.8.2/lib/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.9/angular2.dev.js"></script>-->

    <!--<script src="https://code.angularjs.org/2.0.0-beta.9/angular2-polyfills.js"></script>-->

    <!-- IE required polyfills, in this exact order -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>-->
    <!--<script src="https://npmcdn.com/angular2@2.0.0-beta.9/es6/dev/src/testing/shims_for_IE.js"></script>-->
    <!--<script src="https://code.angularjs.org/tools/system.js"></script>-->

    <!--<script src="https://npmcdn.com/typescript@1.8.2/lib/typescript.js"></script>-->
    <!--<script src="https://code.angularjs.org/2.0.0-beta.9/Rx.js"></script>-->

    <!--<script src="./node_modules/angular2/bundles/angular2.dev.js"></script>-->

    <!--&lt;!&ndash; IE required polyfills, in this exact order &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>-->
    <!--<script src="https://npmcdn.com/angular2@2.0.0-beta.11/es6/dev/src/testing/shims_for_IE.js"></script>-->

    <!--<script src="https://code.angularjs.org/2.0.0-beta.11/angular2-polyfills.js"></script>-->
    <!--<script src="https://code.angularjs.org/tools/system.js"></script>-->
    <!--<script src="https://npmcdn.com/typescript@1.8.9/lib/typescript.js"></script>-->
    <!--<script src="https://code.angularjs.org/2.0.0-beta.11/Rx.js"></script>-->
    <!--<script src="https://code.angularjs.org/2.0.0-beta.11/angular2.dev.js"></script>-->


    <!-- IE required polyfills, in this exact order -->
    <!--<script src="./node_modules/zone.js/dist/zone.js"></script>-->
    <!--<script src="./node_modules/angular2/src/core/zone/ng_zone.js"></script>-->
    <!--<script src="./node_modules/angular2/src/core/zone.js"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.0/es6-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
    <script src="https://npmcdn.com/angular2@2.0.0-beta.11/es6/dev/src/testing/shims_for_IE.js"></script>

    <script src="https://code.angularjs.org/2.0.0-beta.11/angular2-polyfills.js"></script>
    <script src="https://code.angularjs.org/tools/system.js"></script>
    <script src="https://npmcdn.com/typescript@1.8.9/lib/typescript.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.11/Rx.js"></script>
    <script src="https://code.angularjs.org/2.0.0-beta.11/angular2.dev.js"></script>-->

    <!--<script src="https://code.angularjs.org/2.0.0-beta.0/angular2-polyfills.js"></script>-->
    <!--<script src="https://code.angularjs.org/2.0.0-beta.0/Rx.umd.js"></script>-->
    <!--<script src="https://code.angularjs.org/2.0.0-beta.0/angular2-all.umd.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.11/angular2-polyfills.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.11/Rx.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.11/angular2-all.umd.js"></script>

    <!--<script src="./node_modules/angular2/bundles/upgrade.min.js"></script>-->

    <!--<script src="https://code.angularjs.org/2.0.0-beta.9/http.dev.js"></script>-->
    <!--<script src="./node_modules/angular2/bundles/http.dev.js"></script>-->
    <!--<script src="https://npmcdn.com/a2-in-memory-web-api/web-api.js"></script>-->

    <script src="src/angular-gridster.js"></script>
    <script src="appModule.js"></script>
    <script src="controllers.js"></script>
    <script src="component.js"></script>
    <script src="services.js"></script>

    <!--<script src="./angular_2_App/main.ts"></script>-->
    <script src="angular_2_App/es5-example/adapter.js"></script>
    <script src="angular_2_App/es5-example/angular-one-directive.js"></script>
    <script src="angular_2_App/es5-example/angular-two-component.js"></script>
    <script src="angular_2_App/es5-example/angular-one-two-component.js"></script>
    <script src="angular_2_App/es5-example/angular-two-one-component.js"></script>
    <script src="angular_2_App/es5-example/ng2-parent-child-component.js"></script>
    <!--<script src="angular_2_App/es5-example/wiki-es5-example/wikipedia.service.js"></script>-->
    <!--<script src="angular_2_App/es5-example/wiki-es5-example/wiki-es5-component.js"></script>-->
    <script src="angular_2_App/es5-example/hybrid-boot.js"></script>

    <script>
//        // Bootstrap Angular 2.0 application
//        System.config({
//            transpiler: 'typescript',
//            typescriptOptions: {
//                emitDecoratorMetadata: true
//                ,target: "es5"
//            },
//            packages: {
//                'angular_2_App': {
//                    defaultExtension: 'js'
//                }
//            }
//        });
//
//        System.import('angular_2_App/wiki-es5-component').then(null, console.error.bind(console));

        $(document).ready(function () {
            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });

            // Bootstrapping the application after document is ready.
//            angular.bootstrap($('body'), ['app']);
        });
    </script>
    <!--<script src="src/jPrint.js"></script>-->
</head>

<body>
    <div ng-controller="MainCtrl">
        <!-- Top NavBar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index:1000">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                    <span style="color: #0071be">Margins:</span>
                    <input type="text" ng-model="gridsterOpts.margins[0]" size="3" />
                    <span style="color: #0071be">x</span>
                    <input type="text" ng-model="gridsterOpts.margins[1]" size="3" />
                </div>
            </div>
        </div>
        <!-- Dashboard Container -->
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- Sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav">
                    <li>
                        <a href="#" title="Dashboard Settings" ng-click="dashboardOptions.editMode = !dashboardOptions.editMode">
                            <i class="glyphicon glyphicon-cog"></i>
                            {{dashboardOptions.editMode ? 'Save' : 'Edit'}} Dashboard
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-click="gridsterOpts.draggable.enabled = !gridsterOpts.draggable.enabled">
                            {{gridsterOpts.draggable.enabled ? 'Disable' : 'Enable' }} Drag & Drop
                            <!--<input type="button" ng-click="gridsterOpts.draggable.enabled = !gridsterOpts.draggable.enabled"-->
                                    <!--value="{{gridsterOpts.draggable.enabled ? 'Disable' : 'Enable' }} Drag & Drop" />-->
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-click="gridsterOpts.resizable.enabled = !gridsterOpts.resizable.enabled">
                            {{gridsterOpts.resizable.enabled ? 'Disable' : 'Enable' }} Resize
                            <!--<input type="button" ng-click="gridsterOpts.resizable.enabled = !gridsterOpts.resizable.enabled"-->
                                   <!--value="{{gridsterOpts.resizable.enabled ? 'Disable' : 'Enable' }} Resize" />-->
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-click="gridsterOpts.floating = !gridsterOpts.floating">
                            {{gridsterOpts.floating ? 'Disable' : 'Enable' }} Floating
                            <!--<input type="button" ng-click="gridsterOpts.floating = !gridsterOpts.floating"-->
                                   <!--value="{{gridsterOpts.floating ? 'Disable' : 'Enable' }} Floating" />-->
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-disabled="!dashboardOptions.editMode" ng-click="gridsterOpts.pushing = !gridsterOpts.pushing">
                            {{gridsterOpts.pushing ? 'Disable' : 'Enable' }} Pushing
                            <!--<input type="button" ng-click="gridsterOpts.pushing = !gridsterOpts.pushing"-->
                                   <!--value="{{gridsterOpts.pushing ? 'Disable' : 'Enable' }} Pushing" />-->
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-disabled="!dashboardOptions.editMode" ng-click="gridsterOpts.swapping = !gridsterOpts.swapping">
                            {{gridsterOpts.swapping ? 'Disable' : 'Enable' }} Swapping
                            <!--<input type="button" ng-click="gridsterOpts.swapping = !gridsterOpts.swapping"-->
                                   <!--value="{{gridsterOpts.swapping ? 'Disable' : 'Enable' }} Swapping" />-->
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Add Widget at (0,0) cell<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="addWidget('Chart_Line_Widget')">Html Chart</a></li>
                                <li><a href="#" ng-click="addWidget('iFrame_Widget1')">Url iFrame</a></li>
                                <li><a href="#" ng-click="addWidget('Custom_Widget')">Activity Widget</a></li>
                                <li><a href="#" ng-click="addWidget('Generic_Widget')">Generic Widget</a></li>
                                <li><a href="#" ng-click="addWidget('Angular_2_Widget')">Angular-2 Widget</a></li>
                            </ul>
                        </div>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-click="saveDashboardLayout()">
                            Save Dashboard Layout
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-click="loadDashboardLayout()">
                            Load Dashboard Layout
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <a href="#" ng-click="ClearAllDashboardItems()">
                            Clear All Dashboard Items
                        </a>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                SELECT DASHBOARD TEMPLATE LAYOUT<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="setNewTemplateLayout('2_1_2')">TEMPLATE: 2 - 1 - 2</a></li>
                                <li><a href="#" ng-click="setNewTemplateLayout('1_2_1')">TEMPLATE: 1 - 2 - 1</a></li>
                                <li><a href="#" ng-click="setNewTemplateLayout('3_2_1_3')">TEMPLATE: 3 - 2 - 1 - 3</a></li>
                                <li><a href="#" ng-click="setNewTemplateLayout('2_3')">TEMPLATE: 2 - 3</a></li>
                            </ul>
                        </div>
                    </li>
                    <!--<li ng-show="dashboardOptions.editMode">-->
                        <!--<my-toh>ToH Loading...</my-toh>-->
                    <!--</li>-->
                    <!--<li ng-show="dashboardOptions.editMode">-->
                        <!--<my-wiki>Wiki Loading...</my-wiki>-->
                    <!--</li>-->
                    <!--<li ng-show="dashboardOptions.editMode">-->
                        <!--<my-wiki-smart>WikiSmart Loading...</my-wiki-smart>-->
                    <!--</li>-->
                    <li ng-show="dashboardOptions.editMode">
                        <div class="angular-2-1-example">
                            <p>Result of angular 1 directive and angular 2 component used separately</p>
                            <angular-one></angular-one>
                            <angular-two></angular-two>
                        </div>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <div class="angular-2-1-example">
                            <p>Result of mixing angular 1 directive and angular 2 component into another angular 1 directive</p>
                            <angular-one-two></angular-one-two>
                        </div>
                    </li>
                    <li ng-show="dashboardOptions.editMode">
                        <div class="angular-2-1-example">
                            <p>Result of mixing angular 1 directive and angular 2 component into another angular 2 component</p>
                            <angular-two-one></angular-two-one>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Dashboard -->
            <div class="demo-container col-xs-12 col-sm-9">
                <div gridster="gridsterOpts">
                    <ul>
                        <li gridster-item="widget" ng-repeat="widget in standardItems">
                            <div class="box" ng-controller="CustomWidgetCtrl">
                                <div class="box-header" ng-class="{ disabled: !dashboardOptions.editMode }">
                                    <div class="box-header-mouse-events" ng-class="{ disabled: !dashboardOptions.editMode }">
                                        <span class="widget-header no-select" ng-bind="widget.name"></span>
                                        <div class="box-header-btns pull-right" ng-if="dashboardOptions.editMode">
                                            <a title="Settings" ng-click="!dashboardOptions.editMode || openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
                                            <a title="Remove Widget" ng-click="!dashboardOptions.editMode || remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                    </div>
                                    <div class="box-header-for-view-mode">
                                        <a title="Maximize/Minimize Widget" ng-if="!dashboardOptions.editMode" ng-click="maximizedWidget($event, widget)">
                                            <i class="glyphicon glyphicon-fullscreen" ng-show="!widget.isMaximized"></i>
                                            <i class="glyphicon glyphicon-resize-small" ng-show="widget.isMaximized"></i>
                                        </a>
                                        <a title="Print Widget Content" ng-if="!dashboardOptions.editMode" ng-click="printpr($event, widget)">
                                            <i class="glyphicon glyphicon-print"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-content no-select" ng-include="widget.widgetType">
                                    <!-- Widget Content Renderer (by widgetType) -->
                                    <!--<widget-content-handler widget="widget"></widget-content-handler>-->
                                    <!--<div ng-include="widget.widgetType"></div>-->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

			<!--<h2>Custom Items</h2>-->
			<!--<p>-->
				<!--Each item provides its own dimensions but with custom fields defined using customItemMap: { position: [row, col], size: { x: sizeX, y: sizeY }}-->
			<!--</p>-->

			<!--<div gridster="gridsterOpts">-->
				<!--<ul>-->
					<!--<li gridster-item="customItemMap" ng-repeat="item in customItems">-->
						<!--<input type="text" integer ng-model="item.position[0]" size="1" />,-->
						<!--<input type="text" integer ng-model="item.position[1]" size="1" />-->
						<!--<br />-->
						<!--<input type="text" integer ng-model="item.size.x" size="1" />x-->
						<!--<input type="text" integer ng-model="item.size.y" size="1" />-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->

			<!--<h2>Custom Items2</h2>-->
			<!--<p>-->
				<!--Each item provides its own dimensions but with custom fields indicated using html attributes: row, col, sizex, sizey. Size can also be in the form of data-size-x or data-sizex.-->
			<!--</p>-->

			<!--<div gridster="gridsterOpts">-->
				<!--<ul>-->
					<!--<li gridster-item row="item.position[0]" col="item.position[1]" size-x="item.size.x" size-y="item.size.y" ng-repeat="item in customItems">-->
						<!--<input type="text" integer ng-model="item.position[0]" size="1" />,-->
						<!--<input type="text" integer ng-model="item.position[1]" size="1" />-->
						<!--<br />-->
						<!--<input type="text" integer ng-model="item.size.x" size="1" />x-->
						<!--<input type="text" integer ng-model="item.size.y" size="1" />-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->

			<!--<h2>Empty Items</h2>-->
			<!--<p>-->
				<!--Each item stores the standard options as an object within itself: { grid: {row: row, col: col, sizeX: sizeX, sizeY: sizeY }}-->
			<!--</p>-->

			<!--<div gridster="gridsterOpts">-->
				<!--<ul>-->
					<!--<li gridster-item="item.grid" ng-repeat="item in emptyItems">-->
						<!--<input type="text" integer ng-model="item.grid.row" size="1" />,-->
						<!--<input type="text" integer ng-model="item.grid.col" size="1" />-->
						<!--<br />-->
						<!--<input type="text" integer ng-model="item.grid.sizeX" size="1" />x-->
						<!--<input type="text" integer ng-model="item.grid.sizeY" size="1" />-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->

			<!--<h2>No Configuration or Binding</h2>-->
			<!--<p>-->
				<!--No data binding or configuration provided.-->
			<!--</p>-->

			<!--<div gridster>-->
				<!--<ul>-->
					<!--<li gridster-item></li>-->
					<!--<li gridster-item></li>-->
					<!--<li gridster-item></li>-->
				<!--</ul>-->
			<!--</div>-->
		</div>
        </div>
        </div>
</body>

</html>