body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #004756;
    color: #fff;
}
.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    padding: 10px;
}

/** Portlet + Dashboard CSS **/
.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 1px 30px 0 10px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
    max-height: 25px;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    /*top: 15px;*/
    /*right: 10px;*/
    top: 2px;
    right: 2px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
}

/** Side Bar CSS **/
#sidebar {
    background-color:#3b3b3b;
    padding-top:50px;
    height: 100vh;
    font-size: large;
}
#sidebar .nav>li {
    color: #ddd;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
}
#sidebar .nav>li:first-child {
    border-top:0;
}
#sidebar .nav>li>a {
    color: #ddd;
}
#sidebar .nav>li>a>img {
    max-width: 14px;
}
#sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;
}
#sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
#sidebar .nav a:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.box-content .chart-container{
    width: 100%;
    height: 100%;
}
.box-content canvas{
    margin-top: 10px;
    width: 92% !important;
    max-width: 800px;
    height: 70% !important;
}

/*canvas {*/
    /*height: 50% !important;*/
/*}*/
/* collapsed sidebar styles */
@media screen and (max-width: 540px) {
    #sidebar {
        font-size: small;
    }
}
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -41.6%;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        background-color:#3b3b3b;
        padding-top: 50px;
    }
    #sidebar .nav>li {
        color: #ddd;
        background: linear-gradient(#3E3E3E, #383838);
        border-top: 1px solid #484848;
        border-bottom: 1px solid #2E2E2E;
    }
    #sidebar .nav>li:first-child {
        border-top:0;
    }
    #sidebar .nav>li>a {
        color: #ddd;
    }
    #sidebar .nav>li>a>img {
        max-width: 14px;
    }
    #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
        text-decoration: none;
        background: linear-gradient(#373737, #323232);
        color: #fff;
    }
    #sidebar .nav .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
    #sidebar .nav a:hover .caret{
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
}

/* Angular 2.0 styles */
/* Master Styles */
#sidebar > ul > li h2{
    color: chartreuse;
    border: 3px solid;
    padding: 2px;
 }
#sidebar > ul > li h3 {
    color: goldenrod;
    border: 3px solid;
    padding: 2px;
}
#sidebar > ul > li > div.angular-2-1-example{
    background-color: darkcyan;
}
#sidebar > ul > li div.angular-one-two-directive-container{
    border: 3px solid goldenrod;
    padding: 5px;
}
#sidebar > ul > li div.angular-two-one-directive-container{
    border: 3px solid chartreuse;
    padding: 5px;
}

.ng2-parent-container{
    height: 98%;
    border: 3px solid goldenrod;
    padding: 5px;
    overflow-y: auto;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
a {
    cursor: pointer;
    cursor: hand;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.router-link-active {
    color: #039be5;
}

/* items class */
.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}
.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.items li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}
.items .text {
    position: relative;
    top: -3px;
}
.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}
.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.items li.selected {
    background-color: #CFD8DC;
    color: white;
}

.items li.selected:hover {
    background-color: #BBD8DC;
}
.items .text {
    position: relative;
    top: -3px;
}
.items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/